<aside class="left-sidebar" data-sidebarbg="skin5">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav" class="pt-4">
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/dashboard"
            aria-expanded="false"
            ><i class="mdi mdi-view-dashboard"></i
            ><span class="hide-menu">Dashboard</span></a
          >
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link has-arrow waves-effect waves-dark"
            href="javascript:void(0)"
            aria-expanded="false"
            ><i class="mdi mdi-receipt"></i
            ><span class="hide-menu">Category</span></a
          >
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item">
              <a href="/category" class="sidebar-link"
                ><i class="mdi mdi-note-outline"></i
                ><span class="hide-menu">Add Category</span></a
              >
            </li>
            <li class="sidebar-item">
              <a href="/category/view" class="sidebar-link"
                ><i class="mdi mdi-note-plus"></i
                ><span class="hide-menu">View Category</span></a
              >
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link has-arrow waves-effect waves-dark"
            href="javascript:void(0)"
            aria-expanded="false"
            ><i class="mdi mdi-receipt"></i
            ><span class="hide-menu">SubCategory</span></a
          >
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item">
              <a href="/subcategory" class="sidebar-link"
                ><i class="mdi mdi-note-outline"></i
                ><span class="hide-menu">Add SubCategory</span></a
              >
            </li>
            <li class="sidebar-item">
              <a href="/subcategory/view" class="sidebar-link"
                ><i class="mdi mdi-note-plus"></i
                ><span class="hide-menu">View SubCategory</span></a
              >
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link has-arrow waves-effect waves-dark"
            href="javascript:void(0)"
            aria-expanded="false"
            ><i class="mdi mdi-receipt"></i
            ><span class="hide-menu">ExSubCategory</span></a
          >
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item">
              <a href="/exsubcategory" class="sidebar-link"
                ><i class="mdi mdi-note-outline"></i
                ><span class="hide-menu">Add ExSubCategory</span></a
              >
            </li>
            <li class="sidebar-item">
              <a href="/exsubcategory/view" class="sidebar-link"
                ><i class="mdi mdi-note-plus"></i
                ><span class="hide-menu">View ExSubCategory</span></a
              >
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link has-arrow waves-effect waves-dark"
            href="javascript:void(0)"
            aria-expanded="false"
            ><i class="mdi mdi-receipt"></i
            ><span class="hide-menu">Product</span></a
          >
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item">
              <a href="/product" class="sidebar-link"
                ><i class="mdi mdi-note-outline"></i
                ><span class="hide-menu">Add product</span></a
              >
            </li>
            <li class="sidebar-item">
              <a href="/product/view" class="sidebar-link"
                ><i class="mdi mdi-note-plus"></i
                ><span class="hide-menu">View product</span></a
              >
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>